<section>
  <mat-card class="main-card">
    <mat-card-header>
      <div mat-card-avatar class="sticky-note"></div>
      <mat-card-title>New Post</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width-elem" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="postTitle">
      </mat-form-field>
      <mat-form-field class="full-width-elem" appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="7"
            [(ngModel)]="postContent"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="align-to-end">
      <button mat-raised-button color="primary" (click)="post()" [disabled]="postTitle=='' || postContent==''">POST</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="post-card" *ngFor="let post of postList" [ngClass]="{'new-card': post.isNew ==='1'}">
    <mat-card-title class="title">{{post.title}}</mat-card-title>
    <mat-card-content>
      {{post.content}}
    </mat-card-content>
    <mat-card-actions class="align-to-end">
      Created At: <span>{{post.createdAt}}</span>
    </mat-card-actions>
  </mat-card>


</section>