.full-width-elem{
    width: 100%;
}

.sticky-note{
    background-image: url('../assets/sticky-note.png');
    background-size: cover;
    background-position-y: -0.2em;
}

.align-to-end{
    text-align: end;
}

.post-card{
    margin-bottom: 0.5em;
}

.main-card{
    margin-bottom: 1em;
}

.title{
    text-align: -webkit-center;
    padding-bottom: 0.5em;
    border-bottom: double;
}

.new-card {
    animation: fadeInAnimation ease 1s
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.card-actions{
    justify-content: space-between;
    display: flex;
}